
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

*{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
}

#nav{
    height: 10vh;
}

#app-container{
    max-height: 80vh;
}

footer{
    position: absolute;
    height: 10vh;
    width: 100%;
    bottom: 0px;
}


hr{
    width: 80%;
    margin: 0 auto !important;
}
#nav{
    background-color: #1FA2BF !important;
}

#collapsibleNavbar{
    background-color: #1FA2BF !important;
    padding: 10px 0 0 10px;
}

.container-fluid{
    --bs-gutter-x: 0 !important;
}

nav li a{
    margin-right:30px;
}

.nav-link{
    color: black !important;
    transition: 0.7s !important;
}

.nav-link:hover{
    color: #D9C45B !important;
    cursor: pointer;
}

a{
    text-decoration: none !important;
    color: black !important;
    transition: 0.7s;
}

a:hover{
    color:#1FA2BF !important;
}

#sanromilla{
    font-weight: 900;
    margin-left: 20px;
}

#sanromilla:hover{
    color: darkslategray !important;
}


.tallas{
    margin: 0 auto;
}

#contacto, #contacto a{
    color: white !important;
    
}
#contacto a{
    display: inline-block !important;
}

#contacto a:hover{
    color: #1FA2BF !important;
}

.fotos{
    transition: 0.6s;
}

.fotos:hover{
    cursor: pointer;
    height: 215px !important;
}

#footer{
    background-color: #1FA2BF;
}

#footer h4{
    font-weight: 900;
}

#organizadores img{
    height: 50px;
}

#inscripcion .form-check-input, #inscripcion .form-check-label{
    margin-top: 15px;
}

#femenino, #femenino_l, #masculino, #masculino_l{
    margin-top:0 !important;
    vertical-align: middle !important;
}

.strong{
    font-weight: 900 !important;
    font-size: 4em;
    margin: 100px 0;
}

/* Para quitar un ancho extra que añade la clase row de bootstrap */
.row {
    --bs-gutter-x: 0 !important;        
}

.form-control, .form-select{
    width: 70% !important;
    display: inline-block !important;
}

.form-label{
    width: 30% !important;
}

#textarea{
    vertical-align: top;
}

#col1 {
    height: 200px;
    background-image: url(../assets/images/col1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#col2{
    height: 200px;
    background-image: url(../assets/images/col2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

 #col3{
    height: 200px;
    background-image: url(../assets/images/col3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}




/** Cartas administración **/

.carta-home{
    background-color: #D9C45B!important;
    height: 200px!important;
}





/** vista Pagos **/
table {
    border-collapse: separate;
    border-spacing: 0;
}
  
th, td {
    border-bottom: 1px solid black;
}
  
thead th {
    border-bottom-width: 2px;
}

.formStyle{
    background-color: #d9c45b7c!important;
}

.carta-fondo{
    background-color: #d9c45b!important;
}





@media (max-width: 1000px) {
    #col1 , #col2 , #col3{
        height: 150px;
    }
    #col1:hover , #col2:hover , #col3:hover{
        height: 170px;
    }
}

@media (max-width: 880px) {
    #carousel{
        height: 20%;
    }
    #carousel img{
        width: 20%;
    }

    #cartel{
        width: 80%;
    }
    #col1 , #col2 , #col3{
        height: 100px;
    }

    #col1:hover , #col2:hover , #col3:hover{
        height: 120px;
    }
}

@media (max-width: 776px) {

    #col1 , #col2 , #col3{
        margin: 20px;
        height: 150px;
    }

    #botones button{
        margin: 9px !important;
    }
}

@media (max-width: 480px) {

    #botones{
        display: flex;
        flex-direction: column-reverse;
    }
}

 
